<div class="pageContainer">
    <div class="row">
        <div class="col-sm-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-sm-9 ">
            <div class="page-container">  
                <h1>Welcome to the Dashboard!!</h1>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>