<div class="body-container">
    <div class="login-content">
        <div class="login-slider fl">
            <div class="login-carousal">
                    <img src='assets/images/login.jpg' alt="First slide" height="100%" width="100%"/>
                    <div class="carousel-caption">
                        <div>
                            <img src="assets/images/logo_login.png" alt="" />
                            <p>Tavant Resume Planner</p>
                        </div>
                    </div>
                
            </div>
        </div>
        <div class="login-form fl">
            <div class="sign-head marT20">
                Sign in
            </div>
            
            <form onSubmit="">
                <div class="form-group marT20">
                    <input 
                        type="text" 
                        value="" 
                        onChange="" 
                        name="emailInput"
                        class="form-control" 
                        id="emailInput"  
                        placeholder="Email"
                    />
                </div>
                <div class="form-group">
                    <input 
                        type="password" 
                        value="" 
                        onChange=""
                        class="form-control" 
                        id="passwordInput"
                        name="passwordInput" 
                        placeholder="Password"
                    />
                </div>
                <button class="btn btn-primary col-xs-offset-9 col-xs-3" (click) = "loginMethod()" >Submit</button>
            </form>
        </div>
    </div>
</div>
